*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "sora, sans-serif";
    color: rgb(99, 59, 59);
  



}
 header{
    display: flex;
    background-color:rgb(255,249,242);  
    flex-direction: column;
    width: 100%;
    height: 10vh; 
    flex-wrap: nowrap; 
 }  
 main{
    background-color:rgb(255,249,242);

} 
nav{
    display:flex;
    position: fixed;
    text-decoration: none;
    background-color:rgb(255,249,242);  
    flex-direction: column;
    font-family:Arial, Helvetica, sans-serif; 
    flex-direction:row;  
    justify-content:space-around; 
    align-items: center; 
    height: 10vh;
    width: 100%;  
    z-index: 3;
} 

 .icon{
    position: relative;
    width: 45px;
    height: 40px; 
    left: 6%;
  
 }
 .tex{
    display: block;
    position: relative; 
    top: 15px;
    height: 5vh;
    font-size: 16px;
    color: rgb(99, 59, 59);
} 
 
ul{
    display: flex; 
    position: relative; 
    font-size: 20px;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;   
    height:5vh;  
    width: 40vw; 
    list-style: none;
}
a{
    text-decoration: none;
    color: rgb(99, 59, 59);
}
.login{
    display: flex;
    flex-direction:row;
    gap:10%; 
    font-size: 20px;
    width: 20vw; 
    align-items: flex-end;
    justify-content: flex-end;
}
.login1{
    display: block;
    gap: 5px;

} 
 .foto{
    display: block;
    position: relative;
    top: 10px;
    background-color:rgb(255,249,242); 
    height: 40px;
    width: 40px;
    border-radius: 50%;
    
}
.burgerbar{
    display: flex;
    justify-content: flex-end;
    position: fixed;
    z-index: 4;
    margin-bottom: 50px;
    width: 95vw;
    height: 10vh;

}
.burger{
    display: none;  
    width: 10vw;
    height: 10vh;
       
}
.home{
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(255,249,242);
    width: 100%;
    height: 320vh;
}

 
.conteiner{
    display:flex;
    flex-direction: row;
    align-items: center;
    margin-left: 100px;
    background-color:grb(255,249,242); 
    border-bottom: 1px solid rgb(99, 59, 59);
    width: 85vw;
    height: 80vh;
}




.conteiner1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    color:rgb(99, 59, 59);
    width: 55vw;
    height: 40vh;
  
}
.content{
    display: flex;
    flex-direction: row-reverse;
    gap:30px;
}
.ice1{
    width: 50px;
    height: 40px;

   
}
h1{
    padding-bottom: 10%;
    font-size: 70px;
    
}
.conteiner2{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    font-family:"futura-lt-w01-book, sans-serif";
    font-size: 18px;
    color: rgb(99, 59, 59);
    width: 35vw;
    height: 30vh;
}

.one{
    display: inline-block;
    margin-bottom: -20px;
    padding-bottom: 10px;
    box-sizing: border-box;  
    background-color: rgb(216,202,196);
    line-height: 30px;
   
}
.p{
    
    padding: 10px;
    display: inline-block;
    height: 15vh;
    width: 35vw;
  
}
.conteiner-0{
    display:flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    margin-left: 100px;
    background-color:rgb(255,249,242); 
    border-bottom: 1px solid rgb(99, 59, 59);
    width: 85vw;
    height: 50vh;
  

}
.checkbox{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    font-family:"futura-lt-w01-book, sans-serif";
    font-size: 18px;
    color: rgb(99, 59, 59);
    width: 35vw;
    height: 30vh;
}


.two{
    display: inline-block;
    margin-bottom: -20px;
    padding-bottom: 10px;
    box-sizing: border-box;  
    line-height: 30px;
    background-color:rgb(255,241,204) ;
}
.conteiner-1{
    display: flex;
    position: relative;
    top: 35%;
    flex-direction: row;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    color: rgb(99, 59, 59);
    gap:20px;
    width: 55vw;
    height: 30vh;

}
.three{
    display: inline-block;
    margin-bottom: -20px;
    padding-bottom: 10px;
    box-sizing: border-box;  
    line-height: 20px;
    background-color:rgb(138,107,105) ;
}
.smile{
    position: relative;
    bottom: 5%;
    width: 40px;
    height: 50px;
    color: rgb(99, 59, 59);
}
.last{
    display:flex;
    flex-direction: row;
    align-items: flex-start;
    margin-left: 100px;
    border-bottom: 1px solid rgb(99, 59, 59);
    background-color:rgb(255,249,242); 
    width: 85vw;
    height: 65vh;
 
}


.box{
    display:flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    margin-left: 100px;
    background-color:rgb(255,249,242); 
    border-bottom: 1px solid rgb(99, 59, 59);
    width: 85vw;
    height: 50vh;
  

} 
.box1{
    display: flex;
    position: relative;
    top: 35%;
    flex-direction: row;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    color: rgb(99, 59, 59);
    gap:20px;
    width: 55vw;
    height: 30vh;
} 
.box2{
    display: flex;
    align-items: center;
    align-items: flex-end;
    font-family:"futura-lt-w01-book, sans-serif";
    font-size: 18px;
    color: rgb(99, 59, 59);
    width: 35vw;
    height: 30vh;
}

.four{
    display: inline-block;
    margin-bottom: -20px;
    padding-bottom: 10px;
    box-sizing: border-box;  
    line-height: 30px;
    background-color:rgb(92, 239, 136);
}
.five{
    display: inline-block;
    margin-bottom: -20px;
    padding-bottom: 10px;
    box-sizing: border-box;  
    line-height: 30px;
    background-color: rgb(255,211,251);
}

footer{
  background-color: rgb(255,241,204);
}

.information{
    display: flex;
    flex-direction: row;
    font-family:"futura-lt-w01-book, sans-serif";
    justify-content: space-between;
    margin-left: 10%;
    width: 80%;
    height: 60vh;

}

.information1{
    display: flex;
    flex-direction: column;
    gap:20%; 
    padding-top: 90px;
}

.Log{
    display: flex;
    flex-direction: row;
    width: 30vw; 
    gap:50px;
  
}

 .info{
    display: flex;
    flex-direction: column;
    font-size: 18px;
    margin-bottom:40px;
 }
.icon1{
    width: 45px;
    height: 40px;
}

h3{
    font-size: 41px;
}
.info1{
    font-size: 18px;
    margin-bottom: 40px;
}
.information2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30vw;
    
}
.href{
    display: flex;
    flex-direction: column;
    font-family:"futura-lt-w01-book, sans-serif";
    justify-content: flex-end;
    font-size: 18px;
    margin-bottom: 15px;
    width: 20vw;
    height: 20vw;
    gap:10px;

}



























@media screen and (max-width:770px){
    *{
        margin: 0;
        padding: 0;
    }
     
    header{
        height: 15vh;
        

    }
    .main{
        height: 20vh;
     
        
    }  
    nav{
        width: 90vw;  
        flex-wrap: nowrap;
        justify-content: flex-start;
        gap:50px;
    }
    .burger{
        display: block;
        
    }
     .ul{
        display: none;
        flex-direction: column;
        }
    .tex{
        display: none;
        }
    .login1{
        display: none;
        }
    .foto{
        display: none;
        }
    .icon{
     width: 50px;
     height: 40px; 
     margin-bottom:15px;   
      }





.home{
    width: 90vw;
    height: 400vh;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
}
.conteiner{
    width: 80vw;
    /* align-items:center; */
    flex-direction: column;
    height: 70vh;
}
h1{
    font-size: 35px;
    width: 90vw;
    height: 20vh;
}
.content{
    position: relative;
    right: 20%;
    bottom: 5%;
    width: 100%; 
    
}
.conteiner1{
    height: 50vh; 
}
 .conteiner2{
    height: 60vw;
    width: 80vw;
} 
.p{
    width: 90vw;
    height: 30vh;
}
.conteiner-0{
    flex-direction: column;
    width: 80vw;
    height: 110vh; 
    font-size: 20px;
}
 

h3{
    width: 70vw;
    height: 17vh;

} 
.Log{
    width: 90vw;

} 
.information2{
    width: 100%;
    height: 40vh; 
    
} 


.conteiner-1{
    margin-bottom: 80px;
    width: 90vw;
}
.checkbox{
    margin: 25px;
    width: 80vw;
}
.two{
    width: 10vw;
    height: 5vh;
}
.last{
    width: 80vw;
    padding: 10px;  
    flex-direction: column;
    height: 70vh;
    margin: 10px;
}
.conteiner2{
    height: 20vh;
    margin: 25px;
    width: 80vw;

}
.three{
    width: 10vw;
    height: 5vh
} 
.box{
    width: 80vw;
    padding: 10px;  
    flex-direction: column;
    height: 40vh;
    margin: 10px;
}
.box1{
    margin-bottom: 80px;
    width: 90vw;

}
.box2{
    height: 70vh;
    width: 90vw;

}

.four{
    width: 10vw;
    height: 5vh;
   
} 
.checkbox{
    width: 50vw;
}
.information{
    flex-direction: column;
    width: 100%;
    height: 110vh; 
    font-size: 20px;
}
.information1{
    width: 100%;
    height: 70vh; 
    padding-top: 30px;
} 

h3{
    width: 70vw;
    height: 17vh;

} 
.Log{
    width: 90vw;

} 
.information2{
    width: 100%;
    height: 40vh; 
    
}
}
